apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.clickhouse.clusterName }}-lb
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: clickhouse
  ports:
    - name: http
      port: 8123
      targetPort: 8123
    - name: tcp
      port: 9000
      targetPort: 9000
